body {
	font: 15px/1.5 sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
	
}

/* Global */
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

header ul{
	margin: 0;
	padding: 0;
}

/* Login */
form{
	border: 3px solid #f1f1f1;
}

input[type=text],
input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.button_6{
	background-color: red;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

.button_6:hover{
	opacity: 0.8;
}

.imgcontainer{
	text-align: center;
	margin: 24px 0 24px 0;
}

span .psw {
	float: right;
	padding-top: 16px;
}

.login h1{
	text-align: center;
}

.login p{
	text-align: center;
}

/* sign up */
.signupbtn{
	background-color: red;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

.signupbtn:hover{
	opacity: 0.8;
	transition: 0.7s;
}

.signup h1{
	text-align: center;
}

.signup h2{
	text-align: center;
}

.signup p{
	text-align: center;
}
/* Header */
header{
	background: #000000;
	padding-top: 30px;
}

header a{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float: left;
}

header #branding h1{
	margin: 0;
}

header nav{
	float: right;
	margin: 10px;

}

header h1 .homepage{
	color: white;
	font-weight: bold;
	text-transform: none;
	font-size: 30px;

}

header h1 {
	padding-top: 4px;
}

header ul .button_4 {
	height: 38px;
	background: transparent;
	color: white;
	border: 1px solid white;
	border-radius: 50px;
	margin-right: 10px;
	cursor: pointer;
	font-size: 12px;
	width: 80px;
}

header ul .button_4:hover {
	background-color: white;
	color: black;
	transition: 0.7s;
}

header ul .button_5 {
	height: 38px;
	background: red;
	border: 0;
	color: #ffffff;
	width: 100px;
	border-radius: 50px;
	cursor: pointer;
	font-size: 12px;
	width: 80px;
	/*width100px*/
}

header ul .button_5:hover {
	opacity: 0.8;
	transition: 0.7s;
}



/* Home page*/
/* Showcase */
#showcase{
	min-height: 600px;
	background:url('../images/img10.jpg') no-repeat 0 -400px;
	text-align: center;
	color: #ffffff;
	justify-content: center;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
	display: flex;
}

#showcase {
	background: linear-gradient( rgba(0,0,0,0.2), rgba(0,0,0,0.8)), url('../images/img10.jpg')no-repeat;
    background-position:center top;
}

#showcase h1{
	margin-top: 100px;
	font-size: 40px;
	margin-bottom: 10px;
}

#showcase p{
	font-size: 20px;
}

/* Box */
#boxes h1{
	text-align: center;
}

#boxes{
	margin-top: 20px;
}

#boxes .box{
	float: left;
	text-align: center;
	width: 30%;
	padding: 10px;

}
#boxes .box img{
	width: 110px;
}

/* Success */
#success {
	background-color: black;
	color: white;
}

#success h1{
	text-align: center;
	padding-top: 30px;
	margin-bottom: 50px;
}

#success{
	margin-top: 20px;
}

#success .show{
	float: left;
	text-align: center;
	width: 30%;
	padding: 10px;

}
#success .show img{
	width: 90px;
	padding: 10px;
}

/* News*/
#news h1{
	text-align: center;
	padding-bottom: 30px;
}

#news .title{
	float: left;
	text-align: center;
	width: 30%;
	padding: 10px;

}
#news .title img{
	width: 150px;
	padding: 10px;
}

/*About us page*/
#showcase3{
	min-height: 600px;
	background:url('../images/team3.jpeg')no-repeat 0 -400px;
	color: #ffffff;
	text-align: center;
	color: #ffffff;
}

#showcase3 {
	background: linear-gradient( rgba(0,0,0,0.2), rgba(0,0,0,0.8)), url('../images/team3.jpeg')no-repeat;
    background-max-width: 100%;
    background-height: auto;
}

#showcase3 h1{
	text-align: center;
	margin-top: 300px;
	font-size: 40px;
}

#showcase3 p{
	font-size: 20px;
}

.cofounder{
	margin-top: 20px;
}

.cofounder{
	float: left;
	text-align: left;
	width: 30%;

}
.cofounder img{
	width: 300px;
	height: 300px;
}

.cofounder {
	display: inline-block;
}

/* Services page */
ul#services li{
	list-style: none;
	padding: 20px;
	border: #cccccc solid 1px;
	margin-bottom: 10px;
	background: #ffffff;
	font-size: 16px;
}

ul#services h3 {
	text-align: center;
	font-size: 20px;
}

#services img{
	margin-top: 20px;
}

#services img{
	text-align: center;
	width: 30%;
	padding: 10px;

}
#services img{
	width: 90px;
	margin: 0 auto;
	display: block;
}

#services ul li{
	text-decoration: 
}

#services .button_2 {
	height: 38px;
	background: red;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #ffffff;
	width: 263px;
	margin-bottom: 20px;
	margin-right: 10px;
	cursor: pointer;
	border-radius: 10px;
}

#services .button_2:hover {
	opacity: 0.8;
	transition: 0.7s;
}

#services .button_3 {
	height: 38px;
	background: white;
	color: red;
	border: 2px solid red;
	padding-left: 20px;
	padding-right: 20px;
	width: 263px;
	margin-bottom: 20px;
	cursor: pointer;
	border-radius: 10px;
}

#services .button_3:hover {
	background-color: red;
	color: white;
	opacity: 0.8;
	transition: 0.7s;
}

/* Contact page*/
.button_1{
	height: 38px;
	background: red;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #ffffff;
	width: 263px;
	margin-bottom: 50px;
	cursor: pointer;
}

.button_1:hover {
	opacity: 0.5;
	transition: 0.7s;
}

.contacts input{
    padding: 5px;
	height: 25px;
	width: 250px;
	margin-bottom: 10px;
}

.contacts textarea{
	height: 100px;
	width: 257px;
	margin-bottom: 10px;
}

/* Become a courier page*/
.showcase2{
	min-height: 600px;
	background:url('../images/ride1.jpg')no-repeat 0 -400px;
	color: #ffffff;
	text-align: center;
	color: #ffffff;
	justify-content: center;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
	display: flex;
}

.showcase2 {
	background: linear-gradient( rgba(0,0,0,0.2), rgba(0,0,0,0.8)), url('../images/ride1.jpg')no-repeat;
    background-position:center top;
}

.showcase2 h1{
	margin-top: 100px;
	font-size: 40px;
	margin-bottom: 10px;
}

.showcase2 p{
	font-size: 20px;
}

.work{
	float: left;
	text-align: center;
	width: 30%;
	padding: 10px;

}
.work img{
	width: 90px;
	padding: 10px;
}

/* Career page*/
#jobs .container img{
	width: 100%;
	max-width: 700px;
	height: auto;
	margin-top: 50px;

} #jobs .container .benefits{
	margin-bottom: 50px;
}




/* News & Media page*/
.news{
	margin-bottom: 50px;
}

/* footer */
footer .homepage{
	color: white;
}

footer {
	background-color: black;
	color: white;
}
footer h1{
	padding-top: 50px;
}

footer p{
	color: grey;
}

footer ul{
	width: 100%; 
	list-style: none;
}

footer ul li{
	float: left;
	width: 150px;
	padding: 10px;
	font-size: 15px;
}

footer ul li ul{
	padding: 0;
}

footer ul li ul li{
	float: none;
	padding: 5px 0;
}

footer a{
	text-decoration: none;
	color: grey;
}

footer a:hover{
	color: white;
	transition: 0.7s;
}

footer .copy{
	text-align: center;
	padding-top: 50px;
	padding-right: 55px
}

/* Mobile Responsive 768*/
@media (max-width: 768px){
	#boxes .box,
	#success .show,
	#news .title,
	#services .button_2,
	#services .button_3,
	#couriers .work
	{
		float: none;
		text-align: center;
		width: 100%;
	}

	#showcase h1{
		margin-top: 40px;
	}
}