body {
	font: 15px/1.5 sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}

/* Global */
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

header ul{
	margin: 0;
	padding: 0;
}

/* Header */
header{
	background: #000000;
	color: #ffffff;
	padding-top: 30px;
	min-height: 30px;
}

ul {
	text-decoration: none;
	text-transform: none;
	list-style: none;
}

header a{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float: left;
}

header #branding h1{
	margin: 0;
}

header nav{
	float: right;
	margin: 10px;
}

header .highlight, header .current a{
	color: white;
	font-weight: bold;
}

header a:hover{
	color: red;
	font-weight: bold;
}

/* Showcase */
#showcase{
	min-height: 600px;
	background:url('../images/img10.jpg') no-repeat 0 -400px;
	text-align: center;
	color: #ffffff;
	justify-content: center;
	font-weight: bold;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
	display: flex;
}

#showcase {
	background: linear-gradient( rgba(0,0,0,0.2), rgba(0,0,0,0.8)), url('../images/img10.jpg')no-repeat;
    background-position:center top;
}

#showcase h1{
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
}

#showcase p{
	font-size: 20px;
}
/* Box */
#boxes h1{
	text-align: center;
}

#boxes{
	margin-top: 20px;
}

#boxes .box{
	float: left;
	text-align: center;
	width: 30%;
	padding: 10px;

}
#boxes .box img{
	width: 110px;
}

/* Success */

#success {
	background-color: black;
	color: white;
}

#success h1{
	text-align: center;
	padding-top: 30px;
	margin-bottom: 50px;
}

#success{
	margin-top: 20px;
}

#success .show{
	float: left;
	text-align: center;
	width: 30%;
	padding: 10px;

}
#success .show img{
	width: 90px;
	padding: 10px;
}
/* News*/
#news h1{
	text-align: center;
	padding-bottom: 30px;
}

#news .title{
	float: left;
	text-align: center;
	width: 30%;
	padding: 10px;

}
#news .title img{
	width: 150px;
	padding: 10px;
}

/*About us*/
.cofounder{
	margin-top: 20px;
}
/*
h1 {
	font-size: 24px;
}

h3 {
	font-size: 24px;
}

p {
	font-size: 20px;
}*/

.cofounder{
	float: left;
	text-align: left;
	width: 30%;


}
.cofounder img{
	width: 300px;
	height: 300px;
}

.cofounder {
	display: inline-block;
}

/* Services */
ul#services li{
	list-style: none;
	padding: 20px;
	border: #cccccc solid 1px;
	margin-bottom: 10px;
	background: #ffffff;
	font-size: 16px;
}

ul#services h3 {
	text-align: center;
	font-size: 20px;
}

#services img{
	margin-top: 20px;
}

#services img{
	text-align: center;
	width: 30%;
	padding: 10px;

}
#services img{
	width: 90px;
	margin: 0 auto;
	display: block;
}

#services ul li{
	text-decoration: 
}

#services .button_2 {
	height: 38px;
	background: red;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #ffffff;
	width: 263px;
	margin-bottom: 20px;
	margin-right: 10px;
}

#services .button_3 {
	height: 38px;
	background: white;
	color: red;
	border: 2px solid red;
	padding-left: 20px;
	padding-right: 20px;
	width: 263px;
	margin-bottom: 20px;
}

/*
h4 {
	font-size: 20px;
}*/

/* Contact */
.button_1{
	height: 38px;
	background: red;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #ffffff;
	width: 263px;
	margin-bottom: 20px;
}

.contacts input{
    padding: 4px;
	height: 25px;
	width: 250px;
	margin-bottom: 10px;
}

.contacts textarea{
	height: 100px;
	width: 257px;
	margin-bottom: 10px;
}

/* footer */
footer{
	padding: 20px;
	margin-top: 20px;
	color: #ffffff;
	background-color: #000000;
	text-align: center;
}

/* Social media */
footer{
	text-align: center;
}

footer li{
	display: inline-block;
	list-style-type: none;
	-webkit-user-select:none;
	-moz-user-select:none;
}

footer li a{
	border-bottom: none;
}

footer li img{
	width: 70px;
	height: 70px;
	margin-right: 20px;
}


/* Mobile Responsive*/
@media(max-width: 768px){
	#boxes .box,
	#success .show,
	#news .title,
	#services .button_2,
	#services .button_3{
		float: none;
		text-align: center;
		width: 100%;
	}

	#showcase h1{
		margin-top: 40px;
	}
}